In [8]:
import plotly.figure_factory as ff
from datetime import datetime, timedelta
import seaborn as sns
import plotly.io as pio
import pandas as pd
import numpy as np

In [3]:
pio.renderers.default='browser'

In [55]:
def get_df(res_data,data):
    df = []
    t_cols = ['Sa 1', 'Sa 2','Sa 3', 'Sa 4', 'Sb 3', 'Sb 2', 'Sb 1']
    t1 = data['t1']
    for i in res_data.index:
        d = {'Sa 1':'ICTrack_up_'+str(res_data.loc[i,'alloca 1']),
            'Sa 2':'HoldYrd_up_'+str(res_data.loc[i,'alloca 2']),
            'Sa 3':'Terminal_up_'+str(res_data.loc[i,'terminal allocated']),
            'Sa 4':'TerLine_'+str(res_data.loc[i,'alloca 4']),
            'Sb 3':'Terminal_dn'+str(res_data.loc[i,'terminal allocated']),
            'Sb 2':'HoldYrd_dn_'+str(res_data.loc[i,'allocb 2']),
            'Sb 1':'ICTrack_dn_'+str(res_data.loc[i,'allocb 1'])}    
        for j1 in range(len(t_cols)):
            j = t_cols[j1]
            s = convert_time_format(res_data.loc[i,j])
            if j1 == len(t_cols) - 1:
                f = convert_time_format(res_data.loc[i,j] + data['t1'])
            else:
                j2 = t_cols[j1+1]
                f = convert_time_format(res_data.loc[i,j2])
            df.append(dict(Task=d[j],Start=s,Finish=f,Resource='Rake '+str(i+1)))
    return df

In [56]:
def convert_time_format(t):
    dt = datetime.now()
    dt = dt+timedelta(hours=t)
    return str(dt)

In [57]:
def get_colors(m):
    n = len(m.index)
    clrs = sns.color_palette('husl',n_colors=n)
    c = dict()
    for i in range(n):
        c['Rake '+str(i+1)] = clrs[i]
    return c

In [58]:
def plot_gantt(m,d):
    df = get_df(m,d)
    colors = get_colors(m)
    fig = ff.create_gantt(df,colors=colors,index_col='Resource',show_colorbar=True,group_tasks=True)
    fig.show()
    return 0

In [59]:
data = {'pendency':[],
        'b':[],
        'q':20.0,
        'sys':[2,3,2,[3,3]],
        'a':[],
        'l':[],
        'origin':[],
        'R':[80,90],
        'Pure min limit': 89,
        'Pure max limit': 90,
        'Loading times': [3.0,5.0],
        'cont cost': 1.0,
        'tau':0.25,
        't1':0.25,
        't2':0.5,
        't3':0.5,
        'c1':-150.0,
        'c2':1.0,
        'c3':75.0,
        'BigM':80.0,
        'BigM2':100.0}
result_data_init = pd.read_csv('data/dummy_result.csv')
d = pd.DataFrame(get_df(result_data_init,data))
d.head(10)

plot_gantt(result_data_init,data)

0

In [54]:
d.head(1000)

,Task,Start,Finish,Resource
0,ICTrack_up_2,2022-06-09 16:50:38.247296,2022-06-09 16:50:38.247296,Rake 1
1,HoldYrd_up_1,2022-06-09 17:05:38.247296,2022-06-09 17:05:38.247296,Rake 1
2,Terminal_up_1,2022-06-09 17:35:38.247296,2022-06-09 17:35:38.247296,Rake 1
3,TerLine_2,2022-06-09 18:05:38.248293,2022-06-09 18:05:38.248293,Rake 1
4,Terminal_dn1,2022-06-09 23:05:38.248293,2022-06-09 23:05:38.248293,Rake 1
...,...,...,...,...
65,Terminal_up_2,2022-06-10 16:31:29.080965,2022-06-10 16:31:29.080965,Rake 10
66,TerLine_4,2022-06-10 17:01:29.080965,2022-06-10 17:01:29.080965,Rake 10
67,Terminal_dn2,2022-06-10 20:01:29.080965,2022-06-10 20:01:29.080965,Rake 10
68,HoldYrd_dn_1,2022-06-10 20:31:29.080965,2022-06-10 20:31:29.080965,Rake 10
69,ICTrack_dn_2,2022-06-10 21:01:29.080965,2022-06-10 21:16:29.080965,Rake 10